.remove {
    margin-left: 20px;
}

.comment-form {
    padding-left: 40px;
}

.username {
    position: relative;
    margin-bottom: 5px;
}

.post {
    font-size: 20px; 
}

.post-comment {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 15px;
    padding-left: 40px;
}

.remove-comment {
    margin-top: 5px;
}